<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Webdesign Robert Jung
 * @copyright Copyright (c) 2017 Webdesign Robert Jung
 * @package EuroGreens_Upsconfig
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Bss_Ups" setup_version="1.0.0" />
</config>